In [ ]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
df = pd.read_csv("/content/data1.csv")

In [ ]:
df.head()

   Wine  Chips  Bread  Butter  Milk  Apple
0  Wine    NaN  Bread  Butter  Milk    NaN
1   NaN    NaN  Bread  Butter  Milk    NaN
2  Wine  Chips    NaN     NaN   NaN  Apple
3  Wine  Chips  Bread  Butter  Milk  Apple
4  Wine  Chips    NaN     NaN  Milk    NaN

In [ ]:
df.describe()

        Wine  Chips  Bread  Butter  Milk  Apple
count     16     13     15      14    17     14
unique     1      1      1       1     1      1
top     Wine  Chips  Bread  Butter  Milk  Apple
freq      16     13     15      14    17     14

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Wine    16 non-null     object
 1   Chips   13 non-null     object
 2   Bread   15 non-null     object
 3   Butter  14 non-null     object
 4   Milk    17 non-null     object
 5   Apple   14 non-null     object
dtypes: object(6)
memory usage: 1.1+ KB

In [ ]:
pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5975 sha256=2c3b1e87e3b37e4db82db5ba77558f17f9e791f55929922d0e2f6e97dd3e81c8
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
from apyori import apriori

In [ ]:
data = pd.read_csv("/content/data1.csv")

In [ ]:
data

    Wine  Chips  Bread  Butter  Milk  Apple
0   Wine    NaN  Bread  Butter  Milk    NaN
1    NaN    NaN  Bread  Butter  Milk    NaN
2   Wine  Chips    NaN     NaN   NaN  Apple
3   Wine  Chips  Bread  Butter  Milk  Apple
4   Wine  Chips    NaN     NaN  Milk    NaN
5   Wine  Chips  Bread     NaN   NaN  Apple
6   Wine  Chips    NaN  Butter  Milk    NaN
7   Wine    NaN  Bread  Butter   NaN  Apple
8   Wine    NaN  Bread  Butter  Milk    NaN
9    NaN  Chips  Bread  Butter  Milk  Apple
10  Wine    NaN    NaN     NaN  Milk  Apple
11  Wine  Chips  Bread  Butter  Milk    NaN
12  Wine    NaN  Bread  Butter  Milk  Apple
13  Wine    NaN  Bread  Butter  Milk  Apple
14  Wine  Chips  Bread  Butter  Milk  Apple
15   NaN  Chips  Bread  Butter  Milk  Apple
16   NaN  Chips    NaN  Butter  Milk  Apple
17  Wine  Chips  Bread  Butter  Milk  Apple
18  Wine    NaN  Bread     NaN  Milk  Apple
19  Wine  Chips  Bread     NaN  Milk  Apple
20   NaN  Chips    NaN     NaN   NaN    NaN

In [ ]:
data.shape

(21, 6)

In [ ]:
records = []
for i in range (0,21):
  records.append([str(data.values[i,j]) for j in range(0,6)])

In [ ]:
records

[['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'nan'],
 ['nan', 'nan', 'Bread', 'Butter', 'Milk', 'nan'],
 ['Wine', 'Chips', 'nan', 'nan', 'nan', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'nan', 'nan', 'Milk', 'nan'],
 ['Wine', 'Chips', 'Bread', 'nan', 'nan', 'Apple'],
 ['Wine', 'Chips', 'nan', 'Butter', 'Milk', 'nan'],
 ['Wine', 'nan', 'Bread', 'Butter', 'nan', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'nan'],
 ['nan', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'nan', 'nan', 'nan', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'nan'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['nan', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['nan', 'Chips', 'nan', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'nan', 'Bread', 'nan', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'nan', 'Milk', 'Apple'],
 ['nan', 'Chips', 'nan', 'nan', 'nan', 'nan']]

In [ ]:
association_rules = apriori(records, min_support = 0.5, min_confidence = 0.7, min_lisft = 1.2, min_length=2)

In [ ]:
associationa_results = list(association_rules)

In [ ]:
associationa_results

[RelationRecord(items=frozenset({'Bread'}), support=0.7142857142857143, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Bread'}), confidence=0.7142857142857143, lift=1.0)]),
 RelationRecord(items=frozenset({'Milk'}), support=0.8095238095238095, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Milk'}), confidence=0.8095238095238095, lift=1.0)]),
 RelationRecord(items=frozenset({'Wine'}), support=0.7619047619047619, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Wine'}), confidence=0.7619047619047619, lift=1.0)]),
 RelationRecord(items=frozenset({'nan'}), support=0.8571428571428571, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=0.8571428571428571, lift=1.0)]),
 RelationRecord(items=frozenset({'Bread', 'Apple'}), support=0.5238095238095238, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Apple'}), items_add=frozenset({'Bread'}), confidence=0.7857142857142858, lift=1.1), OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'Apple'}), confidence=0.7333333333333334, lift=1.1)]),
 RelationRecord(items=frozenset({'Milk', 'Apple'}), support=0.5238095238095238, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Apple'}), items_add=frozenset({'Milk'}), confidence=0.7857142857142858, lift=0.9705882352941178)]),
 RelationRecord(items=frozenset({'Apple', 'Wine'}), support=0.5238095238095238, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Apple'}), items_add=frozenset({'Wine'}), confidence=0.7857142857142858, lift=1.0312500000000002)]),
 RelationRecord(items=frozenset({'Apple', 'nan'}), support=0.5238095238095238, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Apple'}), items_add=frozenset({'nan'}), confidence=0.7857142857142858, lift=0.9166666666666669)]),
 RelationRecord(items=frozenset({'Bread', 'Butter'}), support=0.5714285714285714, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'Butter'}), confidence=0.7999999999999999, lift=1.2), OrderedStatistic(items_base=frozenset({'Butter'}), items_add=frozenset({'Bread'}), confidence=0.8571428571428571, lift=1.2)]),
 RelationRecord(items=frozenset({'Bread', 'Milk'}), support=0.6190476190476191, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'Milk'}), confidence=0.8666666666666667, lift=1.0705882352941176), OrderedStatistic(items_base=frozenset({'Milk'}), items_add=frozenset({'Bread'}), confidence=0.7647058823529412, lift=1.0705882352941176)]),
 RelationRecord(items=frozenset({'Bread', 'Wine'}), support=0.5714285714285714, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'Wine'}), confidence=0.7999999999999999, lift=1.05), OrderedStatistic(items_base=frozenset({'Wine'}), items_add=frozenset({'Bread'}), confidence=0.75, lift=1.05)]),
 RelationRecord(items=frozenset({'Bread', 'nan'}), support=0.5714285714285714, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'nan'}), confidence=0.7999999999999999, lift=0.9333333333333333)]),
 RelationRecord(items=frozenset({'Milk', 'Butter'}), support=0.6190476190476191, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Butter'}), items_add=frozenset({'Milk'}), confidence=0.9285714285714286, lift=1.1470588235294117), OrderedStatistic(items_base=frozenset({'Milk'}), items_add=frozenset({'Butter'}), confidence=0.7647058823529412, lift=1.147058823529412)]),
 RelationRecord(items=frozenset({'Butter', 'nan'}), support=0.5238095238095238, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Butter'}), items_add=frozenset({'nan'}), confidence=0.7857142857142858, lift=0.9166666666666669)]),
 RelationRecord(items=frozenset({'Milk', 'Wine'}), support=0.6190476190476191, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Milk'}), items_add=frozenset({'Wine'}), confidence=0.7647058823529412, lift=1.0036764705882355), OrderedStatistic(items_base=frozenset({'Wine'}), items_add=frozenset({'Milk'}), confidence=0.8125000000000001, lift=1.0036764705882355)]),
 RelationRecord(items=frozenset({'Milk', 'nan'}), support=0.6666666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Milk'}), items_add=frozenset({'nan'}), confidence=0.8235294117647058, lift=0.9607843137254902), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'Milk'}), confidence=0.7777777777777778, lift=0.9607843137254902)]),
 RelationRecord(items=frozenset({'nan', 'Wine'}), support=0.6190476190476191, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Wine'}), items_add=frozenset({'nan'}), confidence=0.8125000000000001, lift=0.9479166666666669), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'Wine'}), confidence=0.7222222222222223, lift=0.9479166666666669)]),
 RelationRecord(items=frozenset({'Bread', 'Butter', 'Milk'}), support=0.5238095238095238, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'Milk', 'Butter'}), confidence=0.7333333333333334, lift=1.1846153846153846), OrderedStatistic(items_base=frozenset({'Butter'}), items_add=frozenset({'Bread', 'Milk'}), confidence=0.7857142857142858, lift=1.2692307692307694), OrderedStatistic(items_base=frozenset({'Bread', 'Butter'}), items_add=frozenset({'Milk'}), confidence=0.9166666666666667, lift=1.1323529411764706), OrderedStatistic(items_base=frozenset({'Bread', 'Milk'}), items_add=frozenset({'Butter'}), confidence=0.8461538461538461, lift=1.2692307692307694), OrderedStatistic(items_base=frozenset({'Milk', 'Butter'}), items_add=frozenset({'Bread'}), confidence=0.8461538461538461, lift=1.1846153846153846)])]

In [ ]:
print(len(associationa_results))

18

In [ ]:
print(associationa_results)

[RelationRecord(items=frozenset({'Bread'}), support=0.7142857142857143, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Bread'}), confidence=0.7142857142857143, lift=1.0)]), RelationRecord(items=frozenset({'Milk'}), support=0.8095238095238095, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Milk'}), confidence=0.8095238095238095, lift=1.0)]), RelationRecord(items=frozenset({'Wine'}), support=0.7619047619047619, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Wine'}), confidence=0.7619047619047619, lift=1.0)]), RelationRecord(items=frozenset({'nan'}), support=0.8571428571428571, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=0.8571428571428571, lift=1.0)]), RelationRecord(items=frozenset({'Bread', 'Apple'}), support=0.5238095238095238, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Apple'}), items_add=frozenset({'Bread'}), confidence=0.7857142857142858, lift=1.1), OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'Apple'}), confidence=0.7333333333333334, lift=1.1)]), RelationRecord(items=frozenset({'Milk', 'Apple'}), support=0.5238095238095238, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Apple'}), items_add=frozenset({'Milk'}), confidence=0.7857142857142858, lift=0.9705882352941178)]), RelationRecord(items=frozenset({'Apple', 'Wine'}), support=0.5238095238095238, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Apple'}), items_add=frozenset({'Wine'}), confidence=0.7857142857142858, lift=1.0312500000000002)]), RelationRecord(items=frozenset({'Apple', 'nan'}), support=0.5238095238095238, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Apple'}), items_add=frozenset({'nan'}), confidence=0.7857142857142858, lift=0.9166666666666669)]), RelationRecord(items=frozenset({'Bread', 'Butter'}), support=0.5714285714285714, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'Butter'}), confidence=0.7999999999999999, lift=1.2), OrderedStatistic(items_base=frozenset({'Butter'}), items_add=frozenset({'Bread'}), confidence=0.8571428571428571, lift=1.2)]), RelationRecord(items=frozenset({'Bread', 'Milk'}), support=0.6190476190476191, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'Milk'}), confidence=0.8666666666666667, lift=1.0705882352941176), OrderedStatistic(items_base=frozenset({'Milk'}), items_add=frozenset({'Bread'}), confidence=0.7647058823529412, lift=1.0705882352941176)]), RelationRecord(items=frozenset({'Bread', 'Wine'}), support=0.5714285714285714, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'Wine'}), confidence=0.7999999999999999, lift=1.05), OrderedStatistic(items_base=frozenset({'Wine'}), items_add=frozenset({'Bread'}), confidence=0.75, lift=1.05)]), RelationRecord(items=frozenset({'Bread', 'nan'}), support=0.5714285714285714, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'nan'}), confidence=0.7999999999999999, lift=0.9333333333333333)]), RelationRecord(items=frozenset({'Milk', 'Butter'}), support=0.6190476190476191, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Butter'}), items_add=frozenset({'Milk'}), confidence=0.9285714285714286, lift=1.1470588235294117), OrderedStatistic(items_base=frozenset({'Milk'}), items_add=frozenset({'Butter'}), confidence=0.7647058823529412, lift=1.147058823529412)]), RelationRecord(items=frozenset({'Butter', 'nan'}), support=0.5238095238095238, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Butter'}), items_add=frozenset({'nan'}), confidence=0.7857142857142858, lift=0.9166666666666669)]), RelationRecord(items=frozenset({'Milk', 'Wine'}), support=0.6190476190476191, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Milk'}), items_add=frozenset({'Wine'}), confidence=0.7647058823529412, lift=1.0036764705882355), OrderedStatistic(items_base=frozenset({'Wine'}), items_add=frozenset({'Milk'}), confidence=0.8125000000000001, lift=1.0036764705882355)]), RelationRecord(items=frozenset({'Milk', 'nan'}), support=0.6666666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Milk'}), items_add=frozenset({'nan'}), confidence=0.8235294117647058, lift=0.9607843137254902), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'Milk'}), confidence=0.7777777777777778, lift=0.9607843137254902)]), RelationRecord(items=frozenset({'nan', 'Wine'}), support=0.6190476190476191, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Wine'}), items_add=frozenset({'nan'}), confidence=0.8125000000000001, lift=0.9479166666666669), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'Wine'}), confidence=0.7222222222222223, lift=0.9479166666666669)]), RelationRecord(items=frozenset({'Bread', 'Butter', 'Milk'}), support=0.5238095238095238, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'Milk', 'Butter'}), confidence=0.7333333333333334, lift=1.1846153846153846), OrderedStatistic(items_base=frozenset({'Butter'}), items_add=frozenset({'Bread', 'Milk'}), confidence=0.7857142857142858, lift=1.2692307692307694), OrderedStatistic(items_base=frozenset({'Bread', 'Butter'}), items_add=frozenset({'Milk'}), confidence=0.9166666666666667, lift=1.1323529411764706), OrderedStatistic(items_base=frozenset({'Bread', 'Milk'}), items_add=frozenset({'Butter'}), confidence=0.8461538461538461, lift=1.2692307692307694), OrderedStatistic(items_base=frozenset({'Milk', 'Butter'}), items_add=frozenset({'Bread'}), confidence=0.8461538461538461, lift=1.1846153846153846)])]