In [7]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('gender_classification.csv')

In [3]:
df.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

In [15]:
df.sum()

long_hair                                                                 4349
forehead_width_cm                                                      65920.6
forehead_height_cm                                                     29737.5
nose_wide                                                                 2470
nose_long                                                                 2540
lips_thin                                                                 2466
distance_nose_to_lip_long                                                 2495
gender                       MaleFemaleMaleMaleFemaleMaleMaleFemaleFemaleFe...
dtype: object

In [16]:
df.isnull().sum()

long_hair                    0
forehead_width_cm            0
forehead_height_cm           0
nose_wide                    0
nose_long                    0
lips_thin                    0
distance_nose_to_lip_long    0
gender                       0
dtype: int64

In [17]:
df.shape

(5001, 8)

In [4]:
x = df.drop('gender',axis=1)
y= df[['gender']]

In [5]:
x.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
0,1,11.8,6.1,1,0,1,1
1,0,14.0,5.4,0,0,1,0
2,0,11.8,6.3,1,1,1,1
3,0,14.4,6.1,0,1,1,1
4,1,13.5,5.9,0,0,0,0

In [6]:
y.head()

   gender
0    Male
1  Female
2    Male
3    Male
4  Female

In [9]:
from sklearn.model_selection import train_test_split as tts
xtest, xtrain, ytest, ytrain = tts(x,y,test_size=.30, random_state=1)
model = SVC()

In [10]:
xtest.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
4768,1,13.0,6.4,0,0,0,0
65,1,11.8,5.1,0,0,1,1
177,1,12.0,5.5,1,1,1,1
4489,1,12.4,6.1,1,1,1,1
3889,1,14.0,6.6,1,1,1,1

In [11]:
ytest.head()

      gender
4768  Female
65    Female
177     Male
4489    Male
3889    Male

In [12]:
model.fit(xtrain,ytrain)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [14]:
model.predict([[1,15.0,6.7,0,1,0,1]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

array(['Male'], dtype=object)

In [13]:
model.score(xtest,ytest)

0.9708571428571429